<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h2>Employee</h2>
	<form name="employeeForm" class="css-form form-horizontal" novalidate>
		<div class="control-group">
			<em>*</em>
			<input type="text" data-ng-model="employee.name" placeholder="Name" required />
		</div>
		<div class="control-group">
			<em>*</em>
			<input type="text" data-datepicker-popup="dd/MM/yyyy" data-show-weeks="false" data-ng-model="employee.birthday"
				placeholder="Birthday" required />
		</div>
		<div class="control-group">
			<em>*</em>
			<input type="text" data-ng-model="employee.salary" placeholder="Salary" required ng-pattern="/^\-?\d*$/"/>
		</div>
		<div class="control-group">
			<em>*</em>
			<select data-ng-model="employee.function" data-ng-options="f for f in functions" required>
				<option value="" disabled selected class="hidden">Function</option>
			</select>
		</div>
		<div class="control-group pull-right">
			<button id="cancel" type="button" class="btn" data-ng-click="cancel()">Cancel</button>
			<button id="remove" type="submit" class="btn btn-danger" data-ng-click="remove()">Delete</button>
			<button id="save" type="submit" class="btn btn-success" data-ng-click="save(employeeForm)" data-ng-disabled="employeeForm.$invalid">Save</button>
		</div>
	</form>
</body>
</html>