body {
	padding-top: 70px;
}

select {
	color: #999999;
}

select option {
	color: black;
}

em {
	color: red;
	text-align: center;
	font-size: large;
}

.hidden {
	display: none;
}

input.ng-dirty.ng-invalid {
	border: 1px solid red;
}

input.ng-valid {
	border: 1px solid green;
}